{{>layouts/header}}
{{#article}}
<form class="container">
    <div class="mb-3">
        <label class="form-label" for="title1">제목</label>
        <input type="text" class="form-control" id="title1" name="title" value={{title}} readonly>
    </div>
    <div class="mb-3">
        <label class="form-label" for="content">내용</label>
        <textarea class="form-control" rows="3" id="content" name="content" readonly>{{content}}</textarea>
    </div>
</form>
{{/article}}

<a href="/articles/{{article.id}}/edit" class="btn btn-primary"> 글수정 </a>
<a href="/articles/{{article.id}}/delete"  id="btn-delete" class="btn btn-danger"> 글삭제 </a>
<a href="/articles"> 게시판 목록 </a>
{{>layouts/footer}}

