<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>

<h1> home </h1>

{{^nickname}}
<div>
    <h3>로그인 되어있지 않습니다!</h3>
    <a href="/session-login/join">회원 가입</a> <br/><br/>
    <a href="/session-login/login">로그인</a>
</div>
{{/nickname}}
{{#nickname}}
    <div>
        <h3>{{nickname}}님 환영합니다!</h3>
        <a href="/session-login/info">유저 정보</a> <br/><br/>
        <a href="/session-login/admin">관리자 페이지</a> <br/><br/>
        <a href="/session-login/logout">로그아웃</a>
    </div>
{{/nickname}}
</body>
</html>